<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Edit </h2>
    <p>
        <a th:href="@{/customer}">
            Back to staff list
        </a>
    </p>

    <form method="post" enctype="multipart/form-data">
        <table class="table table-striped" th:object="${customer}">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>salary</th>
                <th>branch</th>
            </tr>
            <tr>
                <th><input th:field="*{id}"  name ="id" readonly></th>
                <th><input th:field="*{name}"></th>
                <th><input th:field="*{age}"></th>
                <th><input th:field="*{salary}"></th>
                <th>
                    <select th:field="*{branch}">
                        <option th:each="b:${branch}" th:text="${b.name}" th:value="${b.id}"></option>
                    </select>
                </th>
            </tr>
        </table>
        <button type="submit">Edit</button>
    </form>
</div>
</body>
</html>